<div class="landing-login-options-wrapper">
  <div class="logo">
    <%= image_tag 'logo@2x.png', class: 'responsive-img' %>
  </div>

  <div class="login-options-wrapper">
    <%= link_to '#', class: 'facebook trans-03s' do %>
      <span>Sign in with Facebook</span>
    <% end %>
    <%= link_to '#', class: 'email trans-03s' do %>
      <span>Sign in with Email</span>
    <% end %>
  </div>
</div>
