<div class="landing-sign-in-form-wrapper">
  <div class="logo">
    <%= image_tag 'logo@2x.png', class: 'responsive-img' %>
  </div>

  <div class="sign-in-form">
    <div class="form">
      <form action="#">
        <div class="input-field">
          <input placeholder="Username" type="text" class="validate">
        </div>
        <div class="input-field">
          <input placeholder="Password" type="password" class="validate">
        </div>

        <%= link_to main_path, class: 'submit-btn', :'data-no-turbolink' => true do %>
          <span>Sign in</span>
        <% end %>
        <!--
        <div class="submit-btn">
          <button>
            Sign in
          </button>
        </div>
        -->
      </form>
    </div>
  </div>

  <div class="sign-up-option-wrapper">
    <a href="#"><i class="material-icons left">help_outline</i> forget password</a>
  </div>
</div>

<div class="landing-divider"></div>

<div class="landing-sign-up-link">
  <span>Don't have an account? <%= link_to 'Sign up', sign_up_path %></span>
</div>
