<%= render partial: 'common/header' %>

<div class="subjects-index-wrapper">
  <div class="subjects-container">
    <% 20.times.each do %>
      <div class="subject-unit">
        <div class="subject-inner">
          1
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'common/footer' %>
