// *************************************
//
//   Color declarations
//
//
// *************************************

////////////////////////////////////////
// -------------------------------------
//   Color & Textures
// -------------------------------------
////////////////////////////////////////

// ----- color swatches ----- //
$cs-1: #827442
$cs-2: #788e42
$cs-3: #959947
$cs-4: #997347
$cs-5: #8e5842


// buttons color
$btn-primary  : #00a1cb
$btn-action   : #7db500
$btn-highlight: #f18d05
$btn-danger   : #e54028
$btn-royal    : #87318c

// basic colors
$black-op50: rgba(#000, .5)
$black-op70: rgba(#000, .7)
$black-op85: rgba(#000, .85)
$black-op90: rgba(#000, .9)
$white: #fff
$light-gray: #D8D8D8
$gray: #9e9e9e
$silver: #979797
$dark-gray: #6D6D6D
$black: #000
$yellow: #F6D600
$darker-yellow: #F6AB00
$golden: #BAB797

$facebook-blue: #3b5998
$email-red: #E7102B


// elements color
$c-panels: $black-op70

// ===== textures ----- //

