// *************************************
//
//   Basic layout
//   基本排版設定
//
// *************************************

// centering Bootstrap modal
#confirmationDialog .modal-dialog
  position: absolute
  top: 50%
  left: 50%
  +transform(translate(-50%, -100%))

html, body
  width: 100%
  height: 100%

%m0auto
  margin: 0 auto

%bg-cover-image
  +background-size(cover)
  background-position: center
  background-repeat: no-repeat

%landing-panel-style
  background-color: $c-panels
  margin-top: 1em
  +border-radius(6px)
%landing-form-style
  input, input:focus
    margin-bottom: 0
    padding: 3em
    text-align: center
    +box-sizing(border-box)
    border-bottom: 1px solid $gray
    +box-shadow(none)
  .input-field
    margin-top: 0
  .submit-btn
    display: block
    padding: 1em
    button
      +sassy-button("flat", $v-radius, $fz-l, $yellow)
      width: 100%
      padding: 1em 0

.application-container
  width: 100%
  height: 100%
  @extend %bg-cover-image
  overflow: scroll
  z-index: index($elements, application-container)
  text-align: center

.main-navibar
  $logo-width: image-width('logo-white@2x.png') / 2
  +box-sizing(content-box)

  position: relative
  height: $v-navi-height
  background-color: $yellow
  z-index: index($elements, main-navibar)
  +box-shadow(none)
  border-bottom: 5px solid darken($yellow, 20)
  .logo-wrapper
    +span(3)
    height: $v-navi-height
    padding-top: 3px
    background-color: $darker-yellow
    img
      display: inline-block
      width: $logo-width
  .main-menu
    li
      +span(3)
      height: $v-navi-height
      border-left: 1px solid $white
      line-height: $v-navi-height
      a
        color: $dark-gray
        font-weight: 600
    .user-menu-trigger a
      display: inline-block
      padding-top: 5px
      width: auto

    .user-avatar
      display: block
      float: left
      width: 30px
      height: 30px
      img
        border: 3px solid $white
    .user-name
      display: block
      float: left
      margin-top: -4px
      margin-left: .5em
      height: 30px


.map-canvas
  width: 100%
  height: 100%
  background-color: #eee
